<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
    href="https://fonts.googleapis.com/css?family=Indie+Flower|Hind+Guntur|Rubik+Mono+One|Permanent+Marker|Shadows+Into+Light|Stylish&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/styles/reset.css" />
  <link rel="stylesheet" href="/styles/base.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/modules.css" />
  <link rel="stylesheet" href="/styles/icons.css" />

</head>

<body class="addPages">

  <% for (let i = 0; i < 10; i++) { %>
  <div class="tile">
    <img src="<%= bars[i].image %>" />
    <div class="container">
      <ul>
        <li class="name"><%= bars[i].bars_name %></li>
        <li class="rating">Rating: <%= bars[i].rating %> /5</li>
        <li class="price">Price: <%= bars[i].price %></li>
        <li class="address"><%= bars[i].address %></li>
        <li class="phone"><%= bars[i].phoneNumber %></li>
        <li class="price"><a href="<%= bars[i].url %>" style="color: darkcyan">Visit Yelp</a></li>
      </ul>
    </div>
  </div>
  <% }; %>

</body>

</html>