<!DOCTYPE html>
<html lang="en">
  
  <head>
    <title>Search Form</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/styles/reset.css" />
      <link rel="stylesheet" href="/styles/dashboard.css" />
      <!-- <link rel="stylesheet" href="/styles/layout.css" /> -->
      <link rel="stylesheet" href="/styles/modules.css" /> 
      <link rel="stylesheet" href="/styles/icons.css"/>  
  </head>

  <body>
    <main>
      <div class="grid">
        <div class="a">
          <li><%= formatted_query %></li>
          <li><img id="map" src=`https://maps.googleapis.com/maps/api/staticmap?center=<%=latitude%>,<%=longitude%>&zoom=13&size=600x300&maptype=roadmap&key=AIzaSyBFwYFVJcxEDhqJPLXsEFGeLZLaa0RtCbQ` alt="Map of search query"></li>
          <li><%= latitude %></li>
          <li><%= longitude %></li>
          <button type="home">Home</button>
        </div>
        <div class="restaurant">Restaurants</div>
        <div class="events">Events</div>
        <div class="icon1">icon1 here</div>
        <div class="icon2">icon2 here</div>
        <div class="icon3">icon3 here</div>
        <div class="icon4">icon4 here</div>

      </div>
      

      <%- include('../layout/footer') %>

   </main>
  </body>
</html>
