<!DOCTYPE html>
<html lang="en">


 <head>
   <title>Discover Local</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/styles/reset.css" />
     <link rel="stylesheet" href="/styles/dashboard.css" />
     <!-- <link rel="stylesheet" href="/styles/layout.css" /> -->
     <link rel="stylesheet" href="/styles/modules.css" />
     <link rel="stylesheet" href="/styles/icons.css"/>
 </head>

 <body>
     <div class="BGI"><img src="/styles/img/map-image.jpg"></div>
   <main>

     <h1><%= formatted_query %></h1>


     <div class="grid">

       <a href="/"><button id="homeButton" type="home">Home</button></a>
       <h1><%= name %></h1>
       <h3><%= formatted_query %></h3>
       <div id="pic-box" class="image">
         <img src="<%= image %>" alt="fremont" class="PikeMarket">
      </div>

       <div class="map"><img src="<%= map %>" alt="map" title="<%= name %>" class="PikeMarket"></div>

       <div class="icon1"><a href="/restaurants?location=<%= formatted_query %>"><img src="/styles/img/Dining.svg" alt="icon1 here" class="buttonIcon"></a></div>
       <div class="icon2"><a href="/bars?location=<%= formatted_query %>"><img src="/styles/img/Beer.svg" alt="icon1 here" class="buttonIcon"></a></div>
       <div class="icon3"><a href="/events?location=<%= formatted_query %>"><img src="/styles/img/Events.svg" alt="icon3 here" class="buttonIcon"></a></div>
       <div class="icon4"><a href="/trails?location=<%= formatted_query %>"><img src="/styles/img/Park.svg" alt="icon3 here" class="buttonIcon"></a></div>
       <div class="icon5"><img src="/styles/img/Walking.svg" alt="icon4 here" class="buttonIcon"></div>

     </div>


     <%- include('../layout/footer') %>

  </main>



 </body>
</html>