<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Hind+Guntur|Rubik+Mono+One|Permanent+Marker|Shadows+Into+Light|Stylish&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/styles/reset.css" />
    <link rel="stylesheet" href="/styles/base.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/modules.css" />
    <link rel="stylesheet" href="/styles/icons.css" />
</head>

<body class="addPages">
<% for (let i = 0; i < 10; i++) { %>
    <div class="tile">
        <a href="/"><button id="homeButton" type="home">Home</button></a>
        <img src="<%= events[i].image %>"/>

        <div class="container">
            <ul>
                
                <li class="name"><%= events[i].event_name %></li>
                <li class="phone"><%= events[i].event_date %></li>
                <li class="address"><%= events[i].summary %></li>
                <li class="price"><a href="<%= events[i].link %>" style="color: darkcyan">Visit EventBrite</a></li>

                
            </ul>
        </div>
    </div>
    <% }; %>

    </body>
    </html>