<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/reset.css" />
    <link rel="stylesheet" href="/styles/base.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/modules.css" />
    <link rel="stylesheet" href="/styles/icons.css" />

</head>
<% events.forEach(event => { %>
    <div class="tile">
        <img src="<%= event.image %>"/>
        <div class="container">
            <ul>
                <li class="list"><%= event.link %></li>
                <li class="list"><%= event.event_name%></li>
                <li class="list"><%= event.event_date %></li>
                <li class="list"><%= event.summary %></li>
                
                
            </ul>
        </div>
    </div>
    <% }); %>
    </body>