<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Hind+Guntur|Rubik+Mono+One|Permanent+Marker|Shadows+Into+Light|Stylish&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/styles/reset.css" />
    <link rel="stylesheet" href="/styles/base.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/modules.css" />
    <link rel="stylesheet" href="/styles/icons.css" />

</head>
<body class="addPages">
<% events.forEach(event => { %>
    <div class="tile">
    <a href="/"><button id="homeButton" type="home">Home</button></a>
        <img src="<%= event.image %>"/>

        <div class="container">
            <ul>
                
                <li class="name"><%= event.event_name%></li>
                <li class="phone"><%= event.event_date %></li>
                <li class="address"><%= event.summary %></li>
                <li class="price"><a href="<%= event.link %>" style="color: darkcyan">Visit EventBrite</a></li>

                
            </ul>
        </div>
    </div>
    <% }); %>
    </body>